.game-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.board {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.board-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
